<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<!--<Configuration status="WARN" monitorInterval="30"> -->
	<properties>
		<property name="LOG_HOME">./service-logs</property>
	</properties>
	<Appenders>
		<!--*********************控制檯日誌*********************** -->
		<Console name="consoleAppender" target="SYSTEM_OUT">
			<!--設定日誌格式及顏色 -->
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5level] [%logger{36}] - %msg%xThrowable{separator(|)}%n"
				disableAnsi="false" noConsoleNoAnsi="false" />
		</Console>
	</Appenders>

	<Loggers>
		<!-- 根日誌設定 -->
		<Root level="info">
			<AppenderRef ref="consoleAppender" level="info" />
		</Root>

	</Loggers>

</Configuration>